@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-soZUhVyRGx {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #14287f;
}
.cid-soZUhVyRGx .img-wrap {
  -webkit-animation: jump 2s ease-in-out alternate;
  animation: jump 2s ease-in-out alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  position: relative;
}
.cid-soZUhVyRGx .img-wrap img {
  width: 100%;
}
.cid-soZUhVyRGx .mbr-section-subtitle {
  color: #40b0bf;
}
.cid-soZUhVyRGx .mbr-section-title {
  color: #ffffff;
}
.cid-soZUhVyRGx .mbr-text {
  color: #b0b6d4;
  font-weight: 500;
}
.cid-soZUhVyRGx .mbr-section-btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}
.cid-soZUhVyRGx .mbr-section-btn .btn:first-child {
  margin-left: 0 !important;
}
@media (max-width: 768px) {
  .cid-soZUhVyRGx .mbr-section-btn {
    justify-content: center !important;
  }
}
@-webkit-keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
.cid-soZU0T8Cqr {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-soZU0T8Cqr .mbr-subtitle {
  color: #ff6666;
  margin-bottom: 14px;
}
.cid-soZU0T8Cqr .mbr-section-title {
  margin-bottom: 25px;
  color: #6592e6;
}
.cid-soZU0T8Cqr .mbr-text {
  margin-bottom: 35px;
  color: #47b5ed;
}
.cid-soZU0T8Cqr .progress_elements {
  margin: 0 auto;
}
.cid-soZU0T8Cqr .progress_elements .title-wrap {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-soZU0T8Cqr .progress_elements .title-wrap .progressbar-title p {
  margin-bottom: 14px;
}
.cid-soZU0T8Cqr .progress_elements .title-wrap .progress_value {
  position: relative;
  font-size: 15px;
}
.cid-soZU0T8Cqr .progress_elements .title-wrap .progress_value span {
  padding-left: 30px;
  font-weight: 500;
}
.cid-soZU0T8Cqr .progress_elements .progress {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: visible;
  border-radius: 0 !important;
}
.cid-soZU0T8Cqr .progress_elements .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-soZU0T8Cqr .progress_elements .progress1 progress::after {
  left: 79%;
  border: 3px solid #ffc600;
}
.cid-soZU0T8Cqr .progress_elements .progress2 progress::after {
  left: 70%;
  border: 3px solid #279e64;
}
.cid-soZU0T8Cqr .progress_elements .progress3 progress::after {
  left: 90%;
  border: 3px solid #13287d;
}
.cid-soZU0T8Cqr .progress_elements .progress4 progress::after {
  left: 60%;
  border: 3px solid #83868c;
}
.cid-soZU0T8Cqr .progress1 .progressbar-number:before,
.cid-soZU0T8Cqr .progress2 .progressbar-number:before,
.cid-soZU0T8Cqr .progress3 .progressbar-number:before,
.cid-soZU0T8Cqr .progress4 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-soZU0T8Cqr progress[value]::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.1);
}
.cid-soZU0T8Cqr .progress1 progress::-webkit-progress-value {
  background: #ffc600;
}
.cid-soZU0T8Cqr .progress2 progress::-webkit-progress-value {
  background: #279e64;
}
.cid-soZU0T8Cqr .progress3 progress::-webkit-progress-value {
  background: #13287d;
}
.cid-soZU0T8Cqr .progress4 progress::-webkit-progress-value {
  background: #83868c;
}
.cid-soZU0T8Cqr .progress1 .progressbar-number:before {
  content: "80";
  font-weight: 500;
}
.cid-soZU0T8Cqr .progress2 .progressbar-number:before {
  content: "70";
  font-weight: 500;
}
.cid-soZU0T8Cqr .progress3 .progressbar-number:before {
  content: "90";
  font-weight: 500;
}
.cid-soZU0T8Cqr .progress4 .progressbar-number:before {
  content: "60";
  font-weight: 500;
}
.cid-soZU0T8Cqr .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-soZU0T8Cqr .progressbar-title p {
  color: #6592e6;
}
.cid-soZU0T8Cqr .progress_value {
  color: #6592e6;
}
.cid-soZU0T8Cqr img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 4px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .cid-soZU0T8Cqr img {
    width: 100%;
  }
  .cid-soZU0T8Cqr .mbr-media {
    height: 310px !important;
  }
}
.cid-soZU0T8Cqr .media-content {
  flex-basis: initial;
}
.cid-soZU0T8Cqr .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-soZU0T8Cqr .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-soZU0T8Cqr .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-soZU0T8Cqr a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #40b0bf;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-soZU0T8Cqr a.close:hover {
  color: #40b0bf;
}
.cid-soZU0T8Cqr .icon-wrap {
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.45);
  -webkit-animation: rippleOne 3s infinite;
  animation: rippleOne 3s infinite;
}
.cid-soZU0T8Cqr .icon-wrap:hover {
  background-color: #eeeff2 !important;
}
.cid-soZU0T8Cqr .icon-wrap:hover span {
  color: #279e64 !important;
}
.cid-soZU0T8Cqr .icon-wrap:after {
  content: "";
  position: absolute;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.45);
  -webkit-animation: rippleOne 2.9s infinite;
  animation: rippleOne 2.9s infinite;
  width: 60px;
  height: 60px;
  z-index: -1;
  border-radius: 50%;
  cursor: pointer;
}
.cid-soZU0T8Cqr .icon-wrap span {
  padding-left: 8px;
  cursor: pointer;
}
.cid-soZU0T8Cqr .mbr-media {
  z-index: 70;
  border-radius: 4px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.cid-soZU0T8Cqr .mbr-media span {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: #000000 !important;
}
.cid-soZU0T8Cqr .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
  cursor: pointer;
}
@-webkit-keyframes rippleOne {
  70% {
    box-shadow: 0 0 0 70px rgba(244, 68, 56, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}
@keyframes rippleOne {
  70% {
    box-shadow: 0 0 0 70px rgba(244, 68, 56, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}
@media (max-width: 768px) {
  .cid-soZU0T8Cqr .mbr-media {
    height: 510px;
  }
  .cid-soZU0T8Cqr .mbr-section-title {
    text-align: left;
  }
}
.cid-soZU0T8Cqr .image {
  position: relative;
}
.cid-soZU0T8Cqr .image .widget {
  width: 200px;
  height: 180px;
  padding: 10px 30px;
  background-color: #ff6666;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cid-soZU0T8Cqr .image .widget .widget-text {
  color: #ffffff;
  display: inline;
  margin-bottom: 0;
  text-align: left;
}
.cid-soZU0T8Cqr .image .widget .widget-text span {
  color: #ffffff;
  font-size: 50px;
}
.cid-soZU3UWajP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #279e64;
}
.cid-soZU3UWajP .container,
.cid-soZU3UWajP .container-fluid {
  margin-bottom: 70px;
}
.cid-soZU3UWajP .container.main,
.cid-soZU3UWajP .container-fluid.main {
  padding-left: 30px;
  padding-right: 30px;
}
.cid-soZU3UWajP .container .mbr-section-subtitle,
.cid-soZU3UWajP .container-fluid .mbr-section-subtitle {
  color: #ffffff;
  margin-bottom: 10px;
}
.cid-soZU3UWajP .container .mbr-section-title,
.cid-soZU3UWajP .container-fluid .mbr-section-title,
.cid-soZU3UWajP .container .signature,
.cid-soZU3UWajP .container-fluid .signature {
  color: #ffffff;
}
.cid-soZU3UWajP .container .mbr-section-title,
.cid-soZU3UWajP .container-fluid .mbr-section-title {
  margin-bottom: 20px;
}
.cid-soZU3UWajP .container .mbr-text,
.cid-soZU3UWajP .container-fluid .mbr-text {
  color: #ffffff;
}
.cid-soZU3UWajP .carousel-item {
  justify-content: center;
  padding: 0 0rem;
}
.cid-soZU3UWajP .carousel-item > div {
  width: 100%;
}
.cid-soZU3UWajP .carousel-item.active,
.cid-soZU3UWajP .carousel-item-next,
.cid-soZU3UWajP .carousel-item-prev {
  display: flex;
}
.cid-soZU3UWajP .carousel-indicators {
  left: 0%;
  margin: 20px auto 0;
  align-items: center;
  bottom: -60px !important;
}
.cid-soZU3UWajP .carousel-indicators .active {
  border: 3px solid #ffffff;
  background-color: #ffffff !important;
}
.cid-soZU3UWajP .carousel-indicators li {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: border 0.5s;
  background-color: #ffffff;
  font-size: 2rem;
  opacity: 1;
  border-width: 0px;
  margin: 6px;
}
.cid-soZU3UWajP .carousel-indicators li:hover {
  opacity: 1;
}
.cid-soZU3UWajP .card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 40px 0 40px 0;
  position: relative;
}
.cid-soZU3UWajP .card .left-content {
  width: 58%;
  padding: 0 15px 36px 40px;
  display: block;
}
.cid-soZU3UWajP .card .left-content .service-icon {
  text-align: left;
  position: relative;
  display: block;
}
.cid-soZU3UWajP .card .left-content .service-icon .front {
  color: #e3e5e6;
  font-size: 3.1875rem;
  position: relative;
  margin-bottom: 22px;
}
.cid-soZU3UWajP .card .left-content .service-icon:after {
  opacity: 0.5;
  width: 76px;
  height: 76px;
  content: "";
  position: absolute;
  top: -34px;
  left: 50%;
  margin-left: -13%;
  border-radius: 50%;
  z-index: 0;
}
.cid-soZU3UWajP .card .left-content .card-text {
  margin-bottom: 25px;
  color: #47b5ed;
}
.cid-soZU3UWajP .card .left-content .signature {
  margin-bottom: 0;
  color: #6592e6;
  font-weight: 500;
}
.cid-soZU3UWajP .card .left-content .profession {
  color: #47b5ed;
}
.cid-soZU3UWajP .card .left-content .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
.cid-soZU3UWajP .card .left-content .mbr-section-btn .link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #6592e6;
}
.cid-soZU3UWajP .card .left-content .mbr-section-btn a.text-white:hover,
.cid-soZU3UWajP .card .left-content .mbr-section-btn a.text-white:focus {
  color: #000000 !important;
}
.cid-soZU3UWajP .card .right-content {
  width: 43%;
  flex: none;
}
.cid-soZU6aqTsS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-soZU6aqTsS .mbr-section-subtitle {
  color: #ff6666;
}
.cid-soZU6aqTsS .mbr-section-title {
  color: #6592e6;
  text-align: center;
}
.cid-soZU6aqTsS .mbr-text {
  color: #47b5ed;
}
.cid-soZU6aqTsS .card {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cid-soZU6aqTsS .card .card-wrap {
  background-color: #ffe161;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.cid-soZU6aqTsS .card .card-wrap .card-img {
  overflow: hidden;
  position: relative;
}
.cid-soZU6aqTsS .card .card-wrap .card-img .img-icon {
  width: 100%;
  height: auto;
}
.cid-soZU6aqTsS .card .card-wrap .card-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear 0s;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .card-title {
  color: #6592e6;
  width: 100%;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .user-desc {
  color: #47b5ed;
  width: 100%;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list .soc-item {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid #279e64;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: 0.3s all;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list .soc-item span {
  font-size: 15px;
  color: #279e64;
  transition: all 0.3s;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list .soc-item:first-child {
  transform: translateX(-15px);
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list .soc-item:last-child {
  transform: translateX(15px);
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list .soc-item:hover {
  background-color: #279e64 !important;
  transition: 0.3s all;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .social-list .soc-item:hover span {
  color: #ffffff;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .mbr-section-btn {
  margin-top: 40px;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .mbr-section-btn .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .mbr-section-btn .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .mbr-section-btn .btn::after {
  background-color: #656565;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -60px;
  transform: rotate(35deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
  outline: none;
  text-decoration: none;
}
.cid-soZU6aqTsS .card .card-wrap .card-box .mbr-section-btn .btn:hover::after {
  left: 250px;
  opacity: 0.8;
}
.cid-soZU6aqTsS .card:hover .card-wrap .card-box {
  opacity: 1;
  visibility: visible;
}
.cid-soZU6aqTsS .card:hover .card-wrap .card-box .social-list .soc-item:first-child {
  transform: translateX(0);
}
.cid-soZU6aqTsS .card:hover .card-wrap .card-box .social-list .soc-item:last-child {
  transform: translateX(0);
}
.cid-soZU6aqTsS .mbr-iconfont {
  color: #40b0bf;
}
@media (min-width: 992px) {
  .cid-soZU6aqTsS .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
@media (max-width: 991px) {
  .cid-soZU6aqTsS .card {
    margin-bottom: 30px;
  }
}
.cid-soZTa5dLJL {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soZTa5dLJL .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-soZTa5dLJL .item:last-child .icon-box:before {
  display: none;
}
.cid-soZTa5dLJL .item.last .icon-box:before {
  display: none;
}
.cid-soZTa5dLJL .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-soZTa5dLJL .icon-box {
    margin-right: 1rem;
  }
}
.cid-soZTa5dLJL .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #6592e6;
  transform: translate(-50%, 0);
}
.cid-soZTa5dLJL span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-soZTa5dLJL .card {
    margin-bottom: 2rem;
  }
  .cid-soZTa5dLJL .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-soZTa5dLJL .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-soZTa5dLJL .icon-box::before {
    top: 114%;
  }
}
.cid-soZT2jcA9R {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soZT2jcA9R .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-soZT2jcA9R .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-soZT2jcA9R .img1 {
  background: #ffe161;
}
.cid-soZT2jcA9R .img2 {
  background: #6592e6;
}
.cid-soZT2jcA9R .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-soZT2jcA9R .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-soZT2jcA9R .card-wrapper {
  background: #fafafa;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-soZT2jcA9R .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-soZT2jcA9R .card-wrapper {
    flex-direction: column;
  }
  .cid-soZT2jcA9R .card-box {
    padding: 1rem;
  }
  .cid-soZT2jcA9R .card-box,
  .cid-soZT2jcA9R .img-wrapper {
    width: 100%;
  }
  .cid-soZT2jcA9R .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-soZT2jcA9R .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-soZT2jcA9R .card-subtitle {
  color: #0077ff;
}
.cid-soZT2jcA9R .mbr-text,
.cid-soZT2jcA9R .link-wrap {
  color: #555555;
}
.cid-soZTeabhUv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #40b0bf;
}
.cid-soZTeabhUv .card {
  border-radius: 0;
}
@media (min-width: 992px) {
  .cid-soZTeabhUv .card {
    border-right: 1px solid white;
  }
}
@media (max-width: 991px) {
  .cid-soZTeabhUv .card {
    border-right: 0px;
    border-bottom: 1px solid white;
  }
}
.cid-soZTeabhUv .wrapper {
  padding: 30px 0;
}
.cid-soZTeabhUv .mbr-section-title {
  color: #fafafa;
}
.cid-soZTeabhUv .mbr-text,
.cid-soZTeabhUv .mbr-section-btn {
  color: #ffffff;
}
.cid-soZTjKWRBy {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-soZTjKWRBy img,
.cid-soZTjKWRBy .item-img {
  width: 100%;
}
.cid-soZTjKWRBy .item:focus,
.cid-soZTjKWRBy span:focus {
  outline: none;
}
.cid-soZTjKWRBy .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-soZTjKWRBy .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-soZTjKWRBy .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-soZTjKWRBy .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-soZTjKWRBy .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-soZTjKWRBy .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-soZTjKWRBy .mbr-section-btn {
  margin-top: auto !important;
}
.cid-soZTjKWRBy .mbr-section-title {
  color: #ffffff;
}
.cid-soZTjKWRBy .mbr-text,
.cid-soZTjKWRBy .mbr-section-btn {
  text-align: center;
}
.cid-soZTjKWRBy .item-title {
  text-align: center;
}
.cid-soZTjKWRBy .item-subtitle {
  text-align: left;
}
.cid-soZTqpSEyB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soZTqpSEyB img,
.cid-soZTqpSEyB .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-soZTqpSEyB .item:focus,
.cid-soZTqpSEyB span:focus {
  outline: none;
}
.cid-soZTqpSEyB .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-soZTqpSEyB .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-soZTqpSEyB .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-soZTqpSEyB .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-soZTqpSEyB .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-soZTqpSEyB .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-soZTqpSEyB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-soZTqpSEyB .mbr-section-title {
  color: #232323;
}
.cid-soZTqpSEyB .mbr-text,
.cid-soZTqpSEyB .mbr-section-btn {
  text-align: center;
}
.cid-soZTqpSEyB .item-title {
  text-align: center;
}
.cid-soZTqpSEyB .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-s48MCQYojq {
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-s48MCQYojq .mbr-section-title {
  text-align: center;
}
.cid-s48MCQYojq .mbr-text,
.cid-s48MCQYojq .mbr-section-btn {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s48MCQYojq .mbr-section-title,
  .cid-s48MCQYojq .mbr-section-btn,
  .cid-s48MCQYojq .mbr-text {
    text-align: center;
  }
}
.cid-soZTrv8GyR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-soZTrv8GyR blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-soZTuA1HhD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soZTuA1HhD .nav-tabs .nav-item.open .nav-link:focus,
.cid-soZTuA1HhD .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-soZTuA1HhD .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #6592e6;
}
@media (max-width: 767px) {
  .cid-soZTuA1HhD .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-soZTuA1HhD .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-soZTuA1HhD .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-soZTuA1HhD .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-soZTuA1HhD .nav-link,
.cid-soZTuA1HhD .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-soZTuA1HhD .nav-tabs .nav-link.active {
  color: #6592e6;
  border-bottom: 3px solid #6592e6;
}
.cid-soZTuA1HhD H4 {
  text-align: center;
}
.cid-soZTuA1HhD H3 {
  text-align: center;
}
.cid-soZTzoYcRW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
.cid-soZTzoYcRW .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-soZTzoYcRW .team-card:hover {
  transform: translateY(-10px);
}
.cid-soZTzoYcRW .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-soZTzoYcRW .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-soZTzoYcRW .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-soZTzoYcRW .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-soZTzoYcRW .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-soZTzoYcRW .social-row {
  text-align: center;
}
.cid-soZTzoYcRW .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-soZTzoYcRW .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-soZTzoYcRW .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-soZTzoYcRW .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-soZTCvxuXc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-soZTCvxuXc .row {
    flex-direction: column-reverse;
  }
  .cid-soZTCvxuXc .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-soZTCvxuXc .google-map {
  height: 100%;
  position: relative;
}
.cid-soZTCvxuXc .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-soZTCvxuXc .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-soZTCvxuXc .google-map[data-state] {
  background: #e9e5dc;
}
.cid-soZTCvxuXc .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-soZTCvxuXc .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-soZTCvxuXc .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
.cid-soZTCvxuXc .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-soZTCvxuXc .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-soZTCvxuXc .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-soZTCvxuXc .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #6592e6;
}
.cid-soZTHLjTJr {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
@media (min-width: 991px) {
  .cid-soZTHLjTJr .container-fluid {
    padding-left: 0;
  }
}
.cid-soZTHLjTJr .mbr-text,
.cid-soZTHLjTJr .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-soZTHLjTJr .mbr-text,
  .cid-soZTHLjTJr .mbr-section-btn {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-soZTHLjTJr .mbr-text,
  .cid-soZTHLjTJr .mbr-section-title {
    text-align: center;
  }
}
.cid-soZTHLjTJr a.btn {
  height: 100%;
  margin: 0;
}
.cid-soZTHLjTJr .mbr-section-btn {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.cid-soZTHLjTJr .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-soZTHLjTJr .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-soZTHLjTJr .justify-content-center {
  align-items: center;
}
.cid-s48udlf8KU {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48udlf8KU .mbr-section-title {
  text-align: left;
}
.cid-s48udlf8KU .mbr-section-subtitle {
  text-align: left;
}
.cid-s48upRUlSD {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-s48upRUlSD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-s48upRUlSD .row {
  flex-direction: row-reverse;
}
.cid-s48upRUlSD img {
  width: 100%;
}
.cid-s48vaXqeL6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48vaXqeL6 .mbr-section-title {
  text-align: left;
}
.cid-s48vaXqeL6 .mbr-section-subtitle {
  text-align: left;
}
.cid-s48vnjULo4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48vnjULo4 .mbr-section-title {
  text-align: left;
}
.cid-s48vnjULo4 .mbr-section-subtitle {
  text-align: left;
}
.cid-s48vrXhP0J {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-s48vrXhP0J .mbr-section-title {
  text-align: left;
}
.cid-s48vrXhP0J .mbr-section-subtitle {
  text-align: left;
}
.cid-s48OLK6784 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ffffff !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s48OLK6784 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s48P1Icc8J {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-s48P1Icc8J .row-links {
  width: 100%;
  justify-content: center;
}
.cid-s48P1Icc8J .social-row {
  width: 100%;
  justify-content: center;
}
.cid-s48P1Icc8J .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-s48P1Icc8J .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-s48P1Icc8J .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-s48P1Icc8J .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-s48P1Icc8J .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-s48P1Icc8J .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-s48P1Icc8J .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s48P1Icc8J .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-s48P1Icc8J .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s48P1Icc8J .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s48P1Icc8J .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-s48P1Icc8J .media-container-row .row-copirayt p {
  width: 100%;
}
